<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.gemastik.reminder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".impian.detailHabits"></activity>
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jadwal.UpdateAgenda" />
        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".literasi.VideoDetailActivity" />
        <activity android:name=".literasi.ArtikelDetailActivity" />
        <activity android:name=".impian.AddImpianActivity" />
        <activity android:name=".jadwal.AddJadwalActivity" />
        <activity android:name=".verify.SignUpActivity" />
        <activity android:name=".verify.LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>